header {
    height: 100vh;
    padding-top: 4rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.h10 {
    font-size: 70px;
}

/* ============== ME ============= */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 20rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 20rem 20rem 0 0;
    overflow: hidden;
    padding: 2rem 1rem 26rem 1rem;
    display:inline-block;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ==========*/
@media screen and (max-width: 1200px) {
    header {
        height: 90vh;
    }

    .me {
        margin-top: 5rem;
        height: 10rem;
        width: 17rem;
        left: calc(50% - 8rem);
    }   
     
}

/* ============== MEDIA QUERIES (SMALL DEVICES) ==========*/
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .scroll_down {
        transform: rotate(90deg);
    }

    .me {
        margin-top: 5rem;
        height: 30rem;
        width: 17rem;
        left: calc(50% - 8rem);
    }
}